<footer class="footer">
    <div class="content has-text-centered">
        <section class="hero">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">
                        é fraude
                    </h1>
                    <spam class="subtitle">
                        Esse site é feito para difundir informação às pessoas, concentrando o maior número de golpes e fraudes que estão sendo feitos e criados a cada dia, evitando assim que as pessoas, diante da informação coletada, virem potenciais vítimas e tenham prejuízo financeiro.
                        <br>
                        Acreditamos que com a informação adequada, cada vez mais pessoas tendo acesso, menos vítimas cairão em golpes e fraudes com o tempo.

                        Ajude-nos a ajudar mais pessoas: cadastre o golpe ou a fraude de que você foi vítima. Isso fará um histórico dos golpes e fraudes, em consulta pública, para que outras pessoas não caiam.
                        <br>
                        Juntos vamos combater as tentativas de golpes e fraudes com uma única arma: a informação.
                    </spam>
                </div>
            </div>
        </section>

        <img src="/img/mini-efraude-icon.png" alt="é fraude logo">
        <p>
            consulte nossos
            <a href="/termos">Termos de uso</a>

            <br>
            <button class="button" onclick="alert('Doe para a carteira: bc1q58kupk83zjqv5858h23yvldwxjuj5l58xk2s0n')">
                                        <span class="icon">
                                          <i class="fas currency-btc"></i>
                                        </span>
                <span>doe bitcoin</span>
            </button>
        </p>
    </div>
</footer>