<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>é Fraude</strong>
            <br>
            O objetivo do aplicativo é fraude esta ligado em ajudar o
            consumidor a não ser vitimas de fraudadores, golpistas e
            estelionatários, todo o conteúdo produzido aqui é de
            responsabilidade da pessoa que reportou a fraude.
            <br>
            <br>
            consulte nossos
            <a href="/termos">Termos de uso</a>
        </p>
    </div>
</footer>