<nav class="navbar is-warning" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
           <span style="font-size:20px;font-weight: bolder;">é Fraude</span>
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
           data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a href="/registrar-clone-de-whatsapp" class="navbar-item">
                <strong class="button is-danger">whatsapp clonado</strong>
            </a>
            <a href="/fraudes" class="navbar-item">
                Fraudes
            </a>
            <a href="/denuncie" class="navbar-item">
                Denuncie
            </a>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                {% if user %}
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        <i class="fas fa-home fa-fw"></i>
                        {{ user.name }}
                    </a>
                    <div class="navbar-dropdown">
                        <a href="/suas-denuncias" class="navbar-item">
                            Suas denuncias
                        </a>
                        <a href="/perfil" class="navbar-item">
                            Perfil
                        </a>
                        <hr class="navbar-divider">
                        <a href="/logout" class="navbar-item">
                            Sair
                        </a>
                    </div>
                </div>
                {% else %}
                <div class="buttons">
                    <a href="/registrar" class="button is-primary">
                        <strong>Registrar</strong>
                    </a>
                    <a href="/entrar" class="button is-light">
                        Entrar
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</nav>