<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if content.meta %}
      <title>{{ content.meta.title }} | é Fraude, juntos protegendo a sociedade de crimes e fraudes</title>
      <meta name="description" content="{{ content.meta.description }}">
      <meta property="og:title" content="{{ content.meta.title }}" />
      <meta property="og:description" content="{{ content.meta.description }}" />
      <meta property="og:type" content="website" />
      <meta property="og:url" content="{{ content.meta.url }}" />
      <meta property="og:image" content="https://efraude.app/img/image-fraud.jpg" />
    {% else %}
      <title>é Fraude, juntos protegendo a sociedade de crimes e fraudes</title>
      <meta name="description" content="éfraude.app um app que busca identificar golpes e fraudes de maneira descentralizada onde a sociedade se ajuda a acabar com os crimes de fraude no Brasil">
    {% endif %}
    <!-- styles -->
    {% style "/assets/bulma/css/bulma.min.css" %}
    {% style "/assets/material-icons/css/material-icons.min.css" %}
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

    {% style "/css/screen.css" %}

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-M3WRSTR');</script>
    <!-- End Google Tag Manager -->
    <meta name="robots" content="index, follow"/>
    <meta name="google-signin-client_id" content="617285135540-supnsanh5o59qjkj83o2458g40rr8bs7.apps.googleusercontent.com" />
    <script data-ad-client="ca-pub-8280931693431833" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  </head>
  <body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M3WRSTR"
                    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <div id="fb-root"></div>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v6.0&appId=259519271698181&autoLogAppEvents=1"></script>
  {% block content %}
  {% endblock %}

    <!-- scripts -->
    <script type="text/javascript">
      (function() {
        var burger = document.querySelector('.burger');
        var nav = document.querySelector('#'+burger.dataset.target);
        burger.addEventListener('click', function(){
          burger.classList.toggle('is-active');
          nav.classList.toggle('is-active');
        });
      })();
    </script>

    
    {% block page-scripts %}
    {% endblock %}
  {% include "partial/footer.html" with name="Jane Doe" greeting="Hello!" %}
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  {% script "/js/global.js" %}
  </body>
</html>
