{% extends "base.html" %}
​     {% block content %}
{% include "partial/menu.html" with name="Jane Doe" greeting="Hello!" %}
<div class=​"content"​>
    <div class="columns is-centered">
        <div class="column is-two-thirds">
            <div class=​"column"​>
                <h2 class="title">Ooopsss... parece que tem algo errado aqui</h2>

                <div class="has-text-centered">
                    <h1><span class="is-size-4 has-text-danger">Erro: {{status}}</span></h1>
                    <hr>
                    {% if title %}
                    <h2 class="without-margin">{{title}}</h2>
                    {% endif %}
                    {% if message %}
                    <h4 class="text-danger">{{message}}</h4>
                    {% endif %}
                </div>
            </div>
             
        </div>
        ​ 
    </div>
    ​ 
</div>
​     {% endblock %}


