{% extends "base.html" %}
​{% block content %}
{% include "partial/menu.html" with name="Jane Doe" greeting="Hello!" %}
<section class="section">

    <div class="container">
        <p>
        <table class="table is-fullwidth">
            <thead>
            <tr>
                <th>última atualização</th>
                <th>fraude</th>
            </tr>
            </thead>
            <tbody>
            {% for item in content %}
            <tr>
                <th>{{item.created_at|date:"dd/MM/yyyy"}}</th>
                <td><a href="/fraude/{{item.id}}/{{item.name|remove:\":ãéíç[]@!$&'()*+,;= /\\"}}" title="{{item.name}}">{{item.name}}</a></td>
            </tr>
            {% endfor %} ​ 
            </ul>
            </tbody>
        </table>
        </p>
    </div>

</section>
​{% endblock %}
