{% extends "base.html" %}
​{% block content %}
{% include "partial/menu.html" %}
<div class="container">
    <section class="hero">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    é fraude?
                </h1>
                <h2 class="subtitle">
                    Esse site é feito para difundir informação às pessoas,
                    concentrando o maior número de golpes e fraudes que estão sendo feitos e criados a cada dia,
                    evitando assim que as pessoas, diante da informação coletada, virem potenciais vítimas e
                    tenham prejuízo financeiro.
                </h2>
            </div>
        </div>
    </section>
    <section>

        <div class="columns is-variable is-5-mobile is-2-tablet is-3-desktop is-8-widescreen is-2-fullhd">
            <div class="column">
                <table class="table is-striped">
                    <thead>
                    <tr>
                        <th colspan="2">últimos números de whatsapp clonados</th>
                    </tr>
                    </thead>
                    <tbody class="is-danger is-light">
                    {% for item in content.clones %}
                    <tr>
                        <td>
                            {{item.phone}} clonado dia {{item.cloned_at|date:"dd/MM/yyyy"}}
                            <a href="{{item.url}}" title="{{item.phone}}">
                        <span class="icon-text">
                          <span class="icon">
                            <i class="fas fa-skull"></i>
                          </span>
                          <span></span>
                        </span>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                    </ul>
                    </tbody>
                </table>
            </div>
            <div class="column">
                <div class="container">

                    <h3 class="">
                        veja se você teve seu whatsapp clonado
                    </h3>
                    <p class="">
                    <div class="field has-addons">
                        <div class="control">
                            <input class="input phone" type="text" placeholder="digite um telefone..">
                        </div>
                        <div class="control">
                            <a class="button is-info" onclick="searchPhone()">
                                Buscar
                            </a>
                        </div>
                    </div>
                    </p>
                </div>
            </div>
        </div>

    </section>
    <section>
        <div class="columns is-variable is-5-mobile is-2-tablet is-3-desktop is-8-widescreen is-2-fullhd">
            <div class="column">
                <table class="table is-fullwidth">
                    <thead>
                    <tr>
                        <th colspan="2">últimas</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in content.last %}
                    <tr>
                        <th>{{item.created_at|date:"dd/MM/yyyy"}}</th>
                        <td><a href="{{item.url}}" title="{{item.name}}">{{item.name}}</a></td>
                    </tr>
                    {% endfor %}
                    </ul>
                    </tbody>
                </table>
            </div>
            <div class="column">
                <table class="table is-fullwidth">
                    <thead>
                    <tr>
                        <th colspan="2">relevantes do momento</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in content.top %}
                    <tr>
                        <th>{{item.created_at|date:"dd/MM/yyyy"}}</th>
                        <td><a href="{{item.url}}" title="{{item.name}}">{{item.name}}</a></td>
                    </tr>
                    {% endfor %}
                    </ul>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>
<script src="https://cdn.ckeditor.com/4.13.1/basic/ckeditor.js"></script>
<script type='text/javascript' src='//code.jquery.com/jquery-compat-git.js'></script>
<script type='text/javascript' src='//igorescobar.github.io/jQuery-Mask-Plugin/js/jquery.mask.min.js'></script>
<script>
function searchPhone() {
 var phone = document.querySelector( ".phone" );
document.location.href = '/busca-whatsapp-clonado/'
+ phone.value;
}


var behavior = function (val) {
    return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000' : '(00) 0000-00009';
},
options = {
    onKeyPress: function (val, e, field, options) {
        field.mask(behavior.apply({}, arguments), options);
    }
};

$('.phone').mask(behavior, options);
</script>
{% endblock %}
