{% extends "base.html" %}
​     {% block content %}
{% include "partial/menu.html" with name="Jane Doe" greeting="Hello!" %}
​ 
<div class=​"content"​>
    <div class="columns is-centered">
        <div class="column is-two-thirds">
            <div class=​"column"​>
                <h2 class="title">Termos de uso</h2>



                Do uso dos sites sob o domínio efraude.app

                O eFraude® convida-o a visitar seu site (endereços sob o domínio efraude) e lhe informa os termos e condições que regem o uso do mesmo e de seus serviços disponíveis.

                Por favor, leia atentamente as condições abaixo estipuladas para que você possa usufruir dos serviços prestados pelo site e lembre-se que ao utilizá-los, você estará declarando ter ciência do presente Termos e Condições de Uso do Site e estará concordando com todas as suas cláusulas e condições.

                Caso você não concorde com qualquer disposição destes Termos e Condições de Uso, por favor, não utilize nossos serviços.

            </div>
             
        </div>
        ​ 
    </div>
    ​ 
</div>
​     {% endblock %}


