{% extends "base.html" %}
​     {% block content %}
{% include "partial/menu.html" with name="Jane Doe" greeting="Hello!" %}
​ 
<div class=​"content"​>
    <div class="columns is-centered">
        <div class="column is-two-thirds">
            <div class=​"column"​>
                <h2 class="title">Termos de uso</h2>

                Esse site é feito para difundir informação às pessoas, concentrando o maior número de golpes e fraudes que estão sendo feitos e criados a cada dia, evitando assim que as pessoas, diante da informação coletada, virem potenciais vítimas e tenham prejuízo financeiro.

                Acreditamos que com a informação adequada, cada vez mais pessoas tendo acesso, menos vítimas cairão em golpes e fraudes com o tempo.

                Ajude-nos a ajudar mais pessoas: cadastre o golpe ou a fraude de que você foi vítima. Isso fará um histórico dos golpes e fraudes, em consulta pública, para que outras pessoas não caiam.

                Juntos vamos combater as tentativas de golpes e fraudes com uma única arma: a informação.
                <br>

                Do uso dos sites sob o domínio efraude.app

                O eFraude® convida-o a visitar seu site (endereços sob o domínio efraude) e lhe informa os termos e condições que regem o uso do mesmo e de seus serviços disponíveis.

                Por favor, leia atentamente as condições abaixo estipuladas para que você possa usufruir dos serviços prestados pelo site e lembre-se que ao utilizá-los, você estará declarando ter ciência do presente Termos e Condições de Uso do Site e estará concordando com todas as suas cláusulas e condições.

                Caso você não concorde com qualquer disposição destes Termos e Condições de Uso, por favor, não utilize nossos serviços.

            </div>
             
        </div>
        ​ 
    </div>
    ​ 
</div>
​     {% endblock %}


